mixin dropdown(text,classname,materialicon,name1,name2,name3)
	div(class="dropdown dropdown_"+classname)
		.text= text
		i.material-icons= materialicon
		div(class="wrapper__dropdown")
			div(class="dropdown_inner "+classname)
				.controls
					.row.first
						.name= name1
						.control
							.val.minus.inactive -
							.val.number 0
							.val.plus +
					.row.second
						.name= name2
						.control
							.val.minus.inactive -
							.val.number 0
							.val.plus +
					.row.third
						.name= name3
						.control
							.val.minus.inactive -
							.val.number 0
							.val.plus +
				if classname=="guests"			
					.submit
						.clean.inactive очистить
						.apply применить
		
		