mixin btn(text)
	.toxin--btn
		h3= text
mixin btn_text(text,grey)
	if grey
		.toxin--text--btn.toxin--text--btn_grey
			h3= text
	else
		.toxin--text--btn
			h3= text
mixin btn_bd(text)
	.toxin--btn.toxin--btn_bd
		h3= text
mixin btn_wide(text,icon)
	.toxin--btn.toxin--btn_wide
		h3= text
		if icon
			i.material-icons arrow_forward