mixin nav({signed,links=[]})
  nav.nav
    each link in links
      case link.type
        when 'link'
          a(href=link.href).nav__item=link.name
            if link.hasIcon
              +icon()
        when 'button'
          a(href=link.href).nav__item(data-signed=`${!signed}`)
            .nav__button(data-role=link.role)
              if link.role === 'sign-in'
                +button({
                  text: 'войти',
                  type: 'with-border',
                  color: 'purple',
                  isLow: true
                })
              if link.role === 'sign-up'
                +button({
                  text: 'зарегистрироваться',
                  isLow: true
                })
        when 'user'
          a(href=link.href).nav__item(data-signed=`${signed}` data-link-type=link.type)=link.name